.LiBtn {
  padding: 5% 0;
  transition: background-color .15s ease;
}
.LiBtn:hover {
  background: rgba(0,0,0,.3);
}
.LiBtn:active {
  background: rgba(0,0,0,.5)
}
.navButton {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: rgba(0,0,0,0);
  font-size: 0px;
  transition: font-size .3s ease
}
.active.navButton {
  font-size: 20px;
}

@media (min-width: 768px) {
  .navButton {
    font-size: 20px;
  }
}
