.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 120px;
}

@media (min-width: 768px) {
  .main {
    padding-left: 180px;
  }
}
