.modal-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  z-index: 150;
  display: none;
}
.modal-wrapper.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: relative;
  width: 500px;
  padding: 20px;
  background: white;
}
.form {
 display: flex;
 flex-direction: column;
 align-items: center;
 direction: rtl;
}
.radio-container > input {
  display:none;
}
.radio-container > label:hover:before,
.radio-container > label:hover ~ label:before {
  cursor: pointer;
  content: "\2605";
  position: absolute;
}
.radio-container > label {
  color: gold;
  font-size: 30px;
}
