.header {
  display: flex;
  position: fixed;
  padding: 0 5%;
  height: 10%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid
}

.title {
  display: none;
}

@media (min-width: 768px) {
  .hamburger_wrapper, #hamburger {
    display: none;
  }
  .title {
    display: block;
  }
}
