.header {
  display: flex;
  position: fixed;
  padding: 0 5%;
  color: white;
  height: 10%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(123,123,123);
  background: #FE5F55;
  z-index: 20;
}

.title {
  display: none;
}


@media (min-width: 768px) {

  .hamburger_wrapper,
  #hamburger {
    display: none;
  }

  .title {
    display: block;
  }
}
