
.navWrapper {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity .5s ease;
  z-index: -100;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 0;
  height: 100%;
  background-color: #F0B67F;
  border-right: 1px solid rgb(123, 123, 123);
  z-index: 20;
  transition: width .5s ease;
}

.active.navWrapper {
  opacity: 1;
  z-index: 10
}

.active.nav {
  width: 180px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 110px 0 0 0;
}

.navButton {
  color: white;
}
.navButton:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .navWrapper {
    opacity: 1;
    background: none;
  }

  .nav {
    position: fixed;
    width: 180px;
  }
}
