.navWrapper {
  opacity: 0;
  position: fixed;
  top: 10%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity .5s ease;
}
.nav {
  position: relative;
  width: 0;
  height: 100%;
  background: white;
  border-right: 2px solid black;
  z-index: 20;
  transition: width .5s ease;
}
.active.navWrapper {
  opacity: 1;
}
.active.nav {
  width: 180px;
}
.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .navWrapper {
    opacity: 1;
    background: none;
  }
  .nav {
    position: fixed;
    width: 180px;
  }
}
