.navWrapper {
  opacity: 0;
  position: fixed;
  top: 5%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity .5s ease;
}
.nav {
  position: relative;
  width: 0;
  height: 100%;
  background: white;
  border-right: 2px solid black;
  border-top: 2px solid black;
  transition: width .5s ease;
}
.active.navWrapper {
  opacity: 1;
}
.active.nav {
  width: 50%;
}
.navList {
  list-style: none;
  padding: 0;
}
.navList > li {
  padding: 5% 0;
  height: 10%;
}
.navList > li:hover {
  background: #CDCDCD;
}
.navList > li:active {
  background: grey
}
.navButton {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: rgba(0,0,0,0);
  font-size: 20px;
  transition: background .1s ease
}
